/* COLORS */
/* EXTEND */
.images-grid, .menu__grid .asian, .menu__grid .crab, .menu__grid .lobster, .menu__grid .vegetal, .menu__grid .dumplings, .menu__grid .dishes, .menu__grid .shrimp, .menu__grid .street, .menu__grid .wagyu, .menu__grid .world, .index__grid .thai, .index__grid .streetp, .index__grid .worldp {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0.125rem solid white; }

/* ------------- =General -------------- */
body {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 6.25rem;
  color: #183153;
  padding: 1rem; }

/* ------------- =Nav Panel -------------- */
.header__nav {
  display: flex;
  flex-wrap: wrap; }

.header__logo {
  width: 3.75rem; }

.header__list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: flex-end; }

.header__item {
  padding: 1rem;
  text-decoration: none; }

.header__item a {
  text-decoration: none; }

/* ------------- =Banner & Main card definition-------------- */
.main__banner {
  background-image: url("../resources/images/mobile/banner_index.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 16.25rem; }

.main__button {
  margin: 0.625rem;
  background-color: #cfe2ff;
  color: black;
  box-shadow: none !important; }
  .main__button:hover {
    background-color: #cfe2ff;
    color: black;
    font-weight: bold; }
  .main__button:active {
    background-color: #cfe2ff;
    color: black;
    font-weight: bold;
    box-shadow: none !important; }

.main__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

/* ------------- =Food & Chef Cards Definition -------------- */
.cards__food {
  width: 18.75rem;
  padding: 1rem; }
  .cards__food--title {
    font-size: 1.875rem; }

.cards__img {
  width: 18.75rem;
  height: 12.5rem;
  transition: transform .2s; }
  .cards__img:hover {
    transform: scale(1.5); }

.cards__chef {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0.625rem;
  width: 18.75rem; }
  .cards__chef img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 12.5rem; }
  .cards__chef h2 {
    text-align: center; }
  .cards__chef p {
    text-align: center; }

/* ------------- =Sugerencia Chef Grid -------------- */
.suchef__grid {
  display: grid;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "sc1 sc2 sc3 sc4"; }
  .suchef__grid .sc1 {
    grid-column: 1/2;
    grid-row: 1/2; }
  .suchef__grid .sc2 {
    grid-column: 2/3;
    grid-row: 1/2; }
  .suchef__grid .sc3 {
    grid-column: 3/4;
    grid-row: 1/2; }
  .suchef__grid .sc4 {
    grid-column: 4/5;
    grid-row: 1/2; }

/* ------------- =Menu Title & Grid-------------- */
.menu__selection {
  text-align: center;
  font-size: 1.563rem;
  margin: 0.063rem;
  background-color: #5B8291;
  color: white; }

.menu__grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "asian crab lobster" "vegetal vegetal vegetal" "dumplings dishes dishes" "shrimp street wagyu" "shrimp world wagyu"; }
  .menu__grid .asian {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url("../resources/images/asian_food.jpg"); }
  .menu__grid .crab {
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url("../resources/images/crab-sticks.jpg"); }
  .menu__grid .lobster {
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: url("../resources/images/lobster-sandwich.jpg"); }
  .menu__grid .vegetal {
    grid-column: 1/4;
    grid-row: 2/3;
    background-image: url("../resources/images/our-vegetables.jpg"); }
  .menu__grid .dumplings {
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url("../resources/images/dumplings.jpg"); }
  .menu__grid .dishes {
    grid-column: 2/4;
    grid-row: 3/4;
    background-image: url("../resources/images/our-dishes.jpg"); }
  .menu__grid .shrimp {
    grid-column: 1/2;
    grid-row: 4/5;
    background-image: url("../resources/images/shrimp-pasta.jpg"); }
  .menu__grid .street {
    grid-column: 2/3;
    grid-row: 4/5;
    background-image: url("../resources/images/street_food.jpg"); }
  .menu__grid .wagyu {
    grid-column: 3/4;
    grid-row: 4/6;
    background-image: url("../resources/images/wagyu-burger.jpg"); }
  .menu__grid .world {
    grid-column: 1/3;
    grid-row: 5/6;
    background-image: url("../resources/images/world_food.jpg"); }

/* small text animation */
.card__grid {
  display: flex;
  justify-content: center;
  align-items: center; }
  .card__grid:hover .text {
    transform: translateY(-0.313rem);
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    /* 0.5 is the tranparency*/
    padding: 0.313rem;
    border-radius: 5%; }

.text {
  color: white;
  font-size: 2.188rem;
  font-weight: 100;
  transition: 2s ease;
  transform: translateY(6.75rem);
  opacity: 0; }

/* ------------- =Index Grid -------------- */
.index__grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "thai thai none" "none street street" "world world world"; }
  .index__grid .thai {
    grid-column: 1/3;
    grid-row: 1/2;
    background-image: url("../resources/images/thai.jpg"); }
  .index__grid .streetp {
    grid-column: 2/4;
    grid-row: 2/3;
    background-image: url("../resources/images/street.jpg"); }
  .index__grid .worldp {
    grid-column: 1/4;
    grid-row: 3/4;
    background-image: url("../resources/images/world.jpg"); }

.history {
  padding: 1rem; }

/* ------------- =Footer -------------- */
footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem; }

.footer__list {
  display: flex;
  list-style-type: none;
  flex-grow: 1; }

.footer__img {
  width: 2.5rem;
  padding: 0.313rem; }

* {
  margin: 0px;
  /* Margen Externo */
  padding: 0px;
  /* Margen Interno */
  /* box-sizing: border-box; */ }

/* ------------- =MediaQuery Phone -------------- */
@media (min-width: 320px) and (max-width: 575px) {
  header {
    height: auto; }
  .header__list {
    flex-direction: column;
    flex-grow: 0;
    justify-content: center;
    align-items: center; }
  .header__nav {
    flex-direction: column;
    justify-content: flex-end; }
  .main__banner {
    background-image: url("../resources/images/mobile/banner_index.jpg"); }
    .main__banner h1 {
      font-size: 4.66rem;
      text-align: center; }
  .card__grid .text {
    background-color: rgba(0, 0, 0, 0.5);
    /* 0.5 is the tranparency*/
    color: white;
    font-size: 1rem;
    font-weight: 100;
    padding: 0.313rem;
    border-radius: 5%; }
  /* ------- =MQP Index Grid -------- */
  .index__grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    /* items of grid */ }
    .index__grid .thai {
      grid-column: 1/2;
      grid-row: 1/2;
      background-image: url("../resources/images/mobile/thai.jpg"); }
    .index__grid .streetp {
      grid-column: 1/2;
      grid-row: 2/3;
      background-image: url("../resources/images/mobile/street.jpg"); }
    .index__grid .worldp {
      grid-column: 1/2;
      grid-row: 3/4;
      background-image: url("../resources/images/mobile/world.jpg"); }
  /* ------- =MQP Sugerencia Chef Grid -------- */
  .suchef__grid {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    /* items of grid */ }
    .suchef__grid .sc1 {
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: center;
      justify-self: center; }
    .suchef__grid .sc2 {
      grid-column: 1/2;
      grid-row: 2/3;
      align-self: center;
      justify-self: center; }
    .suchef__grid .sc3 {
      grid-column: 1/2;
      grid-row: 3/4;
      align-self: center;
      justify-self: center; }
    .suchef__grid .sc4 {
      grid-column: 1/2;
      grid-row: 4/5;
      align-self: center;
      justify-self: center; }
  /* ------- =MQP Menu Grid -------- */
  .menu__grid {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    /* items of grid */ }
    .menu__grid .asian {
      grid-column: 1/2;
      grid-row: 1/2;
      background-image: url("../resources/images/mobile/asian_food.jpg"); }
    .menu__grid .crab {
      grid-column: 1/2;
      grid-row: 2/3;
      background-image: url("../resources/images/mobile/crab-sticks.jpg"); }
    .menu__grid .lobster {
      grid-column: 1/2;
      grid-row: 3/4;
      background-image: url("../resources/images/mobile/lobster-sandwich.jpg"); }
    .menu__grid .vegetal {
      grid-column: 1/2;
      grid-row: 4/5;
      background-image: url("../resources/images/mobile/our-vegetables.jpg"); }
    .menu__grid .dumplings {
      grid-column: 1/2;
      grid-row: 5/6;
      background-image: url("../resources/images/mobile/dumplings.jpg"); }
    .menu__grid .dishes {
      grid-column: 1/2;
      grid-row: 6/7;
      background-image: url("../resources/images/mobile/our-dishes.jpg"); }
    .menu__grid .shrimp {
      grid-column: 1/2;
      grid-row: 7/8;
      background-image: url("../resources/images/mobile/shrimp-pasta.jpg"); }
    .menu__grid .street {
      grid-column: 1/2;
      grid-row: 8/9;
      background-image: url("../resources/images/mobile/street_food.jpg"); }
    .menu__grid .wagyu {
      grid-column: 1/2;
      grid-row: 9/10;
      background-image: url("../resources/images/mobile/wagyu-burger.jpg"); }
    .menu__grid .world {
      grid-column: 1/2;
      grid-row: 10/11;
      background-image: url("../resources/images/mobile/world_food.jpg"); }
  footer {
    display: flex;
    flex-direction: column; } }

/* ------------- =MediaQuery Tablet -------------- */
@media (min-width: 576px) and (max-width: 992px) {
  .header__list {
    justify-content: center;
    align-items: center; }
  .header__nav {
    justify-content: flex-start; }
  .main__banner {
    background-image: url("../resources/images/mobile/banner_index.jpg"); }
  .card__grid .text {
    background-color: rgba(0, 0, 0, 0.5);
    /* 0.5 is the tranparency*/
    color: white;
    font-size: 1rem;
    font-weight: 100;
    padding: 0.313rem;
    border-radius: 5%; }
  /* ------- =MQT Index Grid -------- */
  .index__grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto; }
    .index__grid .thai {
      grid-column: 1/2;
      grid-row: 1/2;
      background-image: url("../resources/images/mobile/thai.jpg"); }
    .index__grid .streetp {
      grid-column: 1/2;
      grid-row: 2/3;
      background-image: url("../resources/images/mobile/street.jpg"); }
    .index__grid .worldp {
      grid-column: 1/2;
      grid-row: 3/4;
      background-image: url("../resources/images/mobile/world.jpg"); }
  /* ------- =MQT Sugerencia Chef Grid -------- */
  .suchef__grid {
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
    .suchef__grid .sc1 {
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: center;
      justify-self: center; }
    .suchef__grid .sc2 {
      grid-column: 2/3;
      grid-row: 1/2; }
    .suchef__grid .sc3 {
      grid-column: 1/2;
      grid-row: 2/3;
      align-self: center;
      justify-self: center; }
    .suchef__grid .sc4 {
      grid-column: 2/3;
      grid-row: 2/3; }
  /* ------- =MQT Menu Grid -------- */
  .menu__grid {
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    /* items of grid */ }
    .menu__grid .asian {
      grid-column: 1/2;
      grid-row: 1/2;
      background-image: url("../resources/images/mobile/asian_food.jpg"); }
    .menu__grid .crab {
      grid-column: 2/3;
      grid-row: 1/2;
      background-image: url("../resources/images/mobile/crab-sticks.jpg"); }
    .menu__grid .lobster {
      grid-column: 1/2;
      grid-row: 2/3;
      background-image: url("../resources/images/mobile/lobster-sandwich.jpg"); }
    .menu__grid .vegetal {
      grid-column: 2/3;
      grid-row: 2/3;
      background-image: url("../resources/images/mobile/our-vegetables.jpg"); }
    .menu__grid .dumplings {
      grid-column: 1/2;
      grid-row: 3/4;
      background-image: url("../resources/images/mobile/dumplings.jpg"); }
    .menu__grid .dishes {
      grid-column: 2/3;
      grid-row: 3/4;
      background-image: url("../resources/images/mobile/our-dishes.jpg"); }
    .menu__grid .shrimp {
      grid-column: 1/2;
      grid-row: 4/5;
      background-image: url("../resources/images/mobile/shrimp-pasta.jpg"); }
    .menu__grid .street {
      grid-column: 2/3;
      grid-row: 4/5;
      background-image: url("../resources/images/mobile/street_food.jpg"); }
    .menu__grid .wagyu {
      grid-column: 1/2;
      grid-row: 5/6;
      background-image: url("../resources/images/mobile/wagyu-burger.jpg"); }
    .menu__grid .world {
      grid-column: 2/3;
      grid-row: 5/6;
      background-image: url("../resources/images/mobile/world_food.jpg"); } }
