/* small text animation */
.card__grid {
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover .text {
        transform: translateY(-0.313rem);
        opacity: 1;
        background-color: rgba(0,0,0,0.5); /* 0.5 is the tranparency*/
        padding: 0.313rem;
        border-radius: 5%;
    }
}
.text {
    color: white;
    font-size: 2.188rem;
    font-weight: 100;
    transition: 2s ease;
    transform: translateY(6.75rem);
    opacity: 0;
}

