
/* ------------- =Food & Chef Cards Definition -------------- */
.cards {
    &__food {
        width: 18.75rem;
        padding: 1rem;
        &--title {
            font-size: 1.875rem;
        }
    }

    &__img {
        width: 18.75rem;
        height: 12.5rem;
        transition: transform .2s;
        &:hover {
            transform: scale(1.5);
        }
    }

    &__chef {
        display: flex;
        flex-direction: column;
        margin:auto;
        padding: 0.625rem;
        width: 18.75rem;
        & img {
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;
            width: 12.5rem;
        }
        & h2{
            text-align: center;
        }
    
        & p {
            text-align: center;
        }
    }
}
