/* ------------- =General -------------- */
body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 6.25rem;
    color: #183153;
    padding: 1rem;
}