/* ------------- =Footer -------------- */
footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
}

.footer {
    &__list { 
        display: flex;
        list-style-type: none;
        flex-grow: 1;
    }

    &__img {
        width: 2.5rem;
        padding: 0.313rem;
    }
}