/* ------------- =Banner & Main card definition-------------- */
.main {
    &__banner {
        background-image: url("../resources/images/mobile/banner_index.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 16.25rem;
        

    }

    &__button {
        margin: 0.625rem;
        background-color: $button-color;
        color: black;
        box-shadow: none !important;
        &:hover {
            background-color: $button-color;
            color: black;
            font-weight: bold;
        }
        &:active {
            background-color: $button-color;
            color: black;
            font-weight: bold;
            box-shadow: none !important;
        }
    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }
}
