
/* ------------- =MediaQuery Phone -------------- */
@media (min-width: 320px) and (max-width: 575px) {
    header {
        height: auto;
    }
    .header {
        &__list {
            flex-direction: column;
            flex-grow: 0;
            justify-content: center;
            align-items: center;
        }

        &__nav {
            flex-direction: column;
            justify-content: flex-end;
        }
    }

    .main {
        &__banner {
            background-image: url("../resources/images/mobile/banner_index.jpg");
            & h1 {
                font-size: 4.66rem;
                text-align: center;
            }
        }
    }

    .card {
        &__grid {
            & .text {
                opacity: 1;
                display:contents;
                color: white;
               
            }
            & h2 {
                background-color: rgba(0,0,0,0.5); /* 0.5 is the tranparency*/
                font-weight: 400;
            }
        }
        &__index {
            display: none;
        }
    }

    /* ------- =MQP Index Grid -------- */
    .index__grid {
        display: grid;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        /* items of grid */
        .thai {
            grid-column: 1/2;
            grid-row: 1/2;
            background-image: url("../resources/images/mobile/thai.jpg");
        }

        .streetp {
            grid-column: 1/2;
            grid-row: 2/3;
            background-image: url("../resources/images/mobile/street.jpg");
        }

        .worldp {
            grid-column: 1/2;
            grid-row: 3/4;
            background-image: url("../resources/images/mobile/world.jpg");
            height: auto;
        }
    }


    /* ------- =MQP Sugerencia Chef Grid -------- */
    .suchef__grid {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        
        /* items of grid */
        .sc1 {
            grid-column: 1/2;
            grid-row: 1/2;
            align-self: center;
            justify-self: center;
        }

        .sc2 {
            grid-column: 1/2;
            grid-row: 2/3;
            align-self: center;
            justify-self: center;
        }

        .sc3 {
            grid-column: 1/2;
            grid-row: 3/4;
            align-self: center;
            justify-self: center;
        }

        .sc4 {
            grid-column: 1/2;
            grid-row: 4/5;
            align-self: center;
            justify-self: center;
        }
    }


    /* ------- =MQP Menu Grid -------- */
    .menu__grid {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        /* items of grid */
        .asian {
            grid-column: 1/2;
            grid-row: 1/2;
            background-image: url("../resources/images/mobile/asian_food.jpg");
            height: 5rem;
        }
        
        .crab {
            grid-column: 1/2;
            grid-row: 2/3;
            background-image: url("../resources/images/mobile/crab-sticks.jpg");
            height:5rem;
        }
    
        .lobster {
            grid-column: 1/2;
            grid-row: 3/4;
            background-image: url("../resources/images/mobile/lobster-sandwich.jpg");
            height: 5rem;
        }
    
        .vegetal {
            grid-column: 1/2;
            grid-row: 4/5;
            background-image: url("../resources/images/mobile/our-vegetables.jpg");
            height: 5rem;
        }
    
        .dumplings {
            grid-column: 1/2;
            grid-row: 5/6;
            background-image: url("../resources/images/mobile/dumplings.jpg");
            height: 5rem;
        }
    
        .dishes {
            grid-column: 1/2;
            grid-row: 6/7;
            background-image: url("../resources/images/mobile/our-dishes.jpg");
            height: 5rem;
        }
    
        .shrimp {
            grid-column: 1/2;
            grid-row: 7/8;
            background-image: url("../resources/images/mobile/shrimp-pasta.jpg");
            height: 5rem;
        }
    
        .street {
            grid-column: 1/2;
            grid-row: 8/9;
            background-image: url("../resources/images/mobile/street_food.jpg");
            height: 5rem;
        }
    
        .wagyu {
            grid-column: 1/2;
            grid-row: 9/10;
            background-image: url("../resources/images/mobile/wagyu-burger.jpg");
            height: 5rem;
        }
    
        .world {
            grid-column: 1/2;
            grid-row: 10/11;
            background-image: url("../resources/images/mobile/world_food.jpg");
            height: 5rem;
        }
    }
    footer {
        display: flex;
        flex-direction: column;
    }
}

/* ------------- =MediaQuery Tablet -------------- */
@media (min-width: 576px) and (max-width: 992px) {
    .header {
        &__list {
            justify-content: center;
            align-items: center;
        }

        &__nav {
            justify-content: flex-start;
        }
    }

    .main__banner {
        background-image: url("../resources/images/mobile/banner_index.jpg");
    }
    
    .card {
        &__grid {
            & .text {
                opacity: 1;
                display:contents;
                color: white;
               
            }
            & h2 {
                background-color: rgba(0,0,0,0.5); /* 0.5 is the tranparency*/
                font-weight: 400;
            }
        }
        &__index h2{
            padding-left: 1rem;
            background-color: rgba(0,0,0,0.5); /* 0.5 is the tranparency*/
        }
    }

    /* ------- =MQT Index Grid -------- */
    .index__grid {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        .thai {
            grid-column: 1/2;
            grid-row: 1/2;
            background-image: url("../resources/images/mobile/thai.jpg");
        }
    
        .streetp {
            grid-column: 1/2;
            grid-row: 2/3;
            background-image: url("../resources/images/mobile/street.jpg");
        }
    
        .worldp {
            grid-column: 1/2;
            grid-row: 3/4;
            background-image: url("../resources/images/mobile/world.jpg");
        }
    }
    
   
    /* ------- =MQT Sugerencia Chef Grid -------- */
    .suchef__grid {
        height: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        .sc1 {
            grid-column: 1/2;
            grid-row: 1/2;
            align-self: center;
            justify-self: center;
        }
    
        .sc2 {
            grid-column: 2/3;
            grid-row: 1/2;
        }
    
        .sc3 {
            grid-column: 1/2;
            grid-row: 2/3;
            align-self: center;
            justify-self: center;
        }
    
        .sc4 {
            grid-column: 2/3;
            grid-row: 2/3;
        }
    }

    /* ------- =MQT Menu Grid -------- */
    .menu__grid {
        height: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        /* items of grid */
        .asian {
            grid-column: 1/2;
            grid-row: 1/2;
            background-image: url("../resources/images/mobile/asian_food.jpg")
        }
        
        .crab {
            grid-column: 2/3;
            grid-row: 1/2;
            background-image: url("../resources/images/mobile/crab-sticks.jpg")
        }
    
        .lobster {
            grid-column: 1/2;
            grid-row: 2/3;
            background-image: url("../resources/images/mobile/lobster-sandwich.jpg")
        }
    
        .vegetal {
            grid-column: 2/3;
            grid-row: 2/3;
            background-image: url("../resources/images/mobile/our-vegetables.jpg")
        }
    
        .dumplings {
            grid-column: 1/2;
            grid-row: 3/4;
            background-image: url("../resources/images/mobile/dumplings.jpg")
        }
    
        .dishes {
            grid-column: 2/3;
            grid-row: 3/4;
            background-image: url("../resources/images/mobile/our-dishes.jpg")
        }
    
        .shrimp {
            grid-column: 1/2;
            grid-row: 4/5;
            background-image: url("../resources/images/mobile/shrimp-pasta.jpg")
        }
    
        .street {
            grid-column: 2/3;
            grid-row: 4/5;
            background-image: url("../resources/images/mobile/street_food.jpg")
        }
    
        .wagyu {
            grid-column: 1/2;
            grid-row: 5/6;
            background-image: url("../resources/images/mobile/wagyu-burger.jpg")
        }
    
        .world {
            grid-column: 2/3;
            grid-row: 5/6;
            background-image: url("../resources/images/mobile/world_food.jpg")
        }
    }
}